@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #76ABAE;
    --cor-segundaria: #31363F;
    --cor-terciaria: #222831;
    --cor-fundo: #EEEEEE;
    --fonte-primaria: "Chakra Petch", sans-serif;
    --fonte-segundaria: "Inter", sans-serif;
}

body {
    background-color: var(--cor-fundo);
}

.header {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2% 0 2% 0;
}

.header__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--cor-primaria);
}

.secao-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0 0 0;
}

.secao-principal__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--cor-primaria);
}

.secao-principal__subtitulo {
    font-family: var(--fonte-segundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-segundaria);
}

.capitulo-nome {
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 3rem;
    padding: 5% 0 0 0;
    word-wrap: break-word;
}

.capitulo-subtitulo {
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.secao-capitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 5%;
}

.secao-capitulo__texto {
    width: 50%;
}

.secao-capitulo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-primaria);
    word-wrap: break-word;
}

.secao-capitulo__paragrafo {
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-segundaria);
}

.secao-capitulo-reverso {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 5%;
}

.secao-capitulo__imagem {
    width: 30%;
    height: 30%;
}

.footer {
    background-color: var(--cor-segundaria);
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
}

@media (max-width: 1200px) {
    .secao-capitulo .secao-capitulo-reverso {
        flex-direction: column-reverse;
    }
    .secao-capitulo__imagem {
        width: 80%;
    }
    .secao-capitulo__texto {
        width: 95%;
        text-align: center;
    }
    .secao-capitulo__titulo {
        padding: 5% 0 5% 0;
    }
    .header .secao-principal{
        text-align: center;
        padding: 5%;
    }
    .capitulo-nome {
        padding: 5% 5% 0 5%;
    } 
    .capitulo-subtitulo {
        padding: 2% 5% 5% 5%;
    }
}