@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #76ABAE;
    --cor-segundaria: #31363F;
    --cor-terciaria: #222831;
    --cor-fundo: #EEEEEE;
    --fonte-primaria: "Chakra Petch", sans-serif;
    --fonte-segundaria: "Inter", sans-serif;
}

.botao, .disabled {
    display: none;
  }

.header__titulo, .header__nav__links__item-mobile__details__link, .header__nav__links__item-mobile, .header__nav__links__item, .sumarry-content, .secao-principal__titulo, .capitulo-nome, .capitulo-subtitulo, .secao-capitulo__titulo, .footer {
    font-family: var(--fonte-primaria);
}

.header, .header-mobile, .header__nav__links, .header__nav__links-mobile, .header__nav__links__item-mobile__details, .secao-principal, .secao-capitulo, .secao-capitulo-reverso {
    display: flex;
}

.header__titulo, .header__nav__links__item, .header__nav__links__item-mobile, .fa, .fa-bars, .secao-principal__titulo, .secao-capitulo__titulo, .footer, .botao {
    color: var(--cor-primaria);
}

.header, .header-mobile, .secao-principal, .secao-capitulo, .secao-capitulo-reverso {
    align-items: center;
}

.header, .secao-capitulo, .secao-capitulo-reverso {
    justify-content: center;
}

.header__titulo, .header__nav__links__item-mobile__details__link, .header__nav__links__item-mobile, .header__nav__links__item, .sumarry-content, .secao-principal__titulo {
    font-weight: 900;
}

.header__nav__links-mobile, .capitulo-nome, .capitulo-subtitulo, .footer {
    text-align: center;
}

.header__titulo, .secao-principal__titulo {
    font-size: 2.5rem;
}

.header__nav-mobile, .header, .header-mobile, .footer, .botao {
    background-color: var(--cor-segundaria);   
}

.header, .header-mobile {
    padding: 2% 0 2% 0;
}

.header__nav__links__item-mobile__details__link, .header__nav__links__item-mobile, .header__nav__links__item, .sumarry-content, .capitulo-nome, .secao-capitulo__titulo {
    font-size: 3rem;
}

.header__nav__links, .header, .header-mobile {
    gap: 20%;
}

.header__nav__links-mobile, .header__nav__links__item-mobile__details, .secao-principal {
    flex-direction: column;
}

.secao-principal__subtitulo, .secao-capitulo__paragrafo {
    font-family: var(--fonte-segundaria);
}

.header__nav__links__item-mobile__details__link, .header__nav__links__item-mobile, .header__nav__links__item, .sumarry-content {
    text-decoration: none;
}

.header__nav__links__item-mobile__details__link {
    color: var(--cor-fundo);
    padding: 3% 0 3% 0;
}

.header__nav__links__item, .secao-principal__subtitulo, .capitulo-subtitulo, .secao-capitulo__paragrafo, .footer {
    font-size: 1.5rem;
}

.secao-principal__subtitulo, .secao-capitulo__titulo {
    font-weight: 600;
}

.secao-principal__subtitulo, .secao-capitulo__paragrafo {
    color: var(--cor-segundaria);
}

.fa, .fa-bars {
    transform: scale(200%);
}

.secao-principal, .capitulo-nome {
    padding: 5% 0 0 0;
}

.secao-capitulo, .secao-capitulo-reverso {
    gap: 5%;
}

.capitulo-nome, .secao-capitulo__titulo {
    word-wrap: break-word;
}

.secao-capitulo, .secao-capitulo-reverso {
    padding: 10%;
}

.secao-capitulo__imagem {
    border-radius: 2%;
}

.footer {
    padding: 2%;
}

.capitulo-subtitulo {
    color: var(--cor-terciaria);
}

.botao:hover {
    background-color: var(--cor-terciaria);
}

.botao {
    width: 10vh;
    height: 10vh;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 99;
    border: 1vh solid var(--cor-primaria);
    outline: none;
    cursor: pointer;
    border-radius: 50%;    
  }

.seta {
    width: 4vh;
    width: 4vh;
}
  
body {
    background-color: var(--cor-fundo);
    scroll-behavior: smooth;
}

.header-mobile {
    justify-content: space-between;
}

.sumarry-content {
    padding: 1% 0 1% 0;
}

.header__nav__links__item-mobile {
    margin: 1%;
}

.disabled {
    display: none;
    visibility: hidden;
}

.secao-capitulo__texto {
    width: 50%;
}

.secao-capitulo__paragrafo {
    font-weight: 400;
}

.secao-capitulo-reverso {
    flex-direction: row-reverse;
}

.secao-capitulo__imagem {
    width: 30%;
    height: 30%;
}

@media (max-width: 1200px) {
    .secao-capitulo, .secao-capitulo-reverso {
        flex-direction: column-reverse;
    }
    .secao-capitulo__imagem {
        width: 80%;
    }
    .secao-capitulo__texto, .header, .secao-principal {
        text-align: center;
    }
    .secao-capitulo__texto {
        width: 95%;
    }
    .secao-capitulo__titulo {
        padding: 5% 0 5% 0;
    }
    .header, .secao-principal{
        padding: 5%;
    }
    .capitulo-nome {
        padding: 5% 5% 0 5%;
    } 
    .capitulo-subtitulo {
        padding: 2% 5% 5% 5%;
    }
}